.example-card {
  max-width: 400px;
  margin: 8px;
}

.example-header-image {
  margin-right: 8px;
  img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
  }
}

.description {
  height: 92px;
}
