<div class="container" *ngIf="recipe">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Create a new recipe</mat-card-title>
    </mat-card-header>
    <form [formGroup]="recipeForm" (submit)="update()">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" formControlName="nameRecipe" >
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Image URL" formControlName="urlRecipe" >
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Description" formControlName="descriptionRecipe"></textarea>
      </mat-form-field>
      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary">Update</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
